In [12]:
df = pd.read_csv('train.csv')

In [16]:
print(df)

            ID Delivery_person_ID Delivery_person_Age Delivery_person_Ratings  \
0      0x4607     INDORES13DEL02                   37                     4.9
1      0xb379     BANGRES18DEL02                   34                     4.5
2      0x5d6d     BANGRES19DEL01                   23                     4.4
3      0x7a6a    COIMBRES13DEL02                   38                     4.7
4      0x70a2     CHENRES12DEL01                   32                     4.6
...        ...                ...                 ...                     ...
45588  0x7c09      JAPRES04DEL01                   30                     4.8
45589  0xd641      AGRRES16DEL01                   21                     4.6
45590  0x4f8d     CHENRES08DEL03                   30                     4.9
45591  0x5eee    COIMBRES11DEL01                   20                     4.7
45592  0x5fb2   RANCHIRES09DEL02                   23                     4.9

       Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0                22.745049             75.892471                   22.765049
1                12.913041             77.683237                   13.043041
2                12.914264             77.678400                   12.924264
3                11.003669             76.976494                   11.053669
4                12.972793             80.249982                   13.012793
...                    ...                   ...                         ...
45588            26.902328             75.794257                   26.912328
45589             0.000000              0.000000                    0.070000
45590            13.022394             80.242439                   13.052394
45591            11.001753             76.986241                   11.041753
45592            23.351058             85.325731                   23.431058

       Delivery_location_longitude  Order_Date Time_Orderd Time_Order_picked  \
0                        75.912471  19-03-2022    11:30:00          11:45:00
1                        77.813237  25-03-2022    19:45:00          19:50:00
2                        77.688400  19-03-2022    08:30:00          08:45:00
3                        77.026494  05-04-2022    18:00:00          18:10:00
4                        80.289982  26-03-2022    13:30:00          13:45:00
...                            ...         ...         ...               ...
45588                    75.804257  24-03-2022    11:35:00          11:45:00
45589                     0.070000  16-02-2022    19:55:00          20:10:00
45590                    80.272439  11-03-2022    23:50:00          00:05:00
45591                    77.026241  07-03-2022    13:35:00          13:40:00
45592                    85.405731  02-03-2022    17:10:00          17:15:00

           Weatherconditions Road_traffic_density  Vehicle_condition  \
0           conditions Sunny                High                   2
1          conditions Stormy                 Jam                   2
2      conditions Sandstorms                 Low                   0
3           conditions Sunny              Medium                   0
4          conditions Cloudy                High                   1
...                      ...                  ...                ...
45588       conditions Windy                High                   1
45589       conditions Windy                 Jam                   0
45590      conditions Cloudy                 Low                   1
45591      conditions Cloudy                High                   0
45592         conditions Fog              Medium                   2

      Type_of_order Type_of_vehicle multiple_deliveries Festival  \
0            Snack      motorcycle                    0      No
1            Snack         scooter                    1      No
2           Drinks      motorcycle                    1      No
3           Buffet      motorcycle                    1      No
4            Snack         scooter                    1      No
...             ...             ...                 ...      ...
45588         Meal      motorcycle                    0      No
45589       Buffet      motorcycle                    1      No
45590       Drinks         scooter                    0      No
45591        Snack      motorcycle                    1      No
45592        Snack         scooter                    1      No

                 City Time_taken(min)
0              Urban         (min) 24
1      Metropolitian         (min) 33
2              Urban         (min) 26
3      Metropolitian         (min) 21
4      Metropolitian         (min) 30
...               ...             ...
45588  Metropolitian         (min) 32
45589  Metropolitian         (min) 36
45590  Metropolitian         (min) 16
45591  Metropolitian         (min) 26
45592  Metropolitian         (min) 36

[45593 rows x 20 columns]

In [ ]:
df.iloc[0:21,0:3]

         ID Delivery_person_ID Delivery_person_Age
0   0x4607     INDORES13DEL02                   37
1   0xb379     BANGRES18DEL02                   34
2   0x5d6d     BANGRES19DEL01                   23
3   0x7a6a    COIMBRES13DEL02                   38
4   0x70a2     CHENRES12DEL01                   32
5   0x9bb4      HYDRES09DEL03                   22
6   0x95b4   RANCHIRES15DEL01                   33
7   0x9eb2      MYSRES15DEL02                   35
8   0x1102      HYDRES05DEL02                   22
9   0xcdcd      DEHRES17DEL01                   36
10  0xd987      KOCRES16DEL01                   21
11  0x2784     PUNERES13DEL03                   23
12  0xc8b6     LUDHRES15DEL02                   34
13  0xdb64      KNPRES14DEL02                   24
14  0x3af3      MUMRES15DEL03                   29
15  0x3aab      MYSRES01DEL01                   35
16  0x689b     PUNERES20DEL01                   33
17  0x6f67      HYDRES14DEL01                   34
18  0xc9cf      KOLRES15DEL03                   21
19  0x36b8     PUNERES19DEL02                   25
20  0x5795   RANCHIRES06DEL02                   31

In [ ]:
df.loc[0:11,"Delivery_person_Age"]

0     37
1     34
2     23
3     38
4     32
5     22
6     33
7     35
8     22
9     36
10    21
11    23
Name: Delivery_person_Age, dtype: object

In [ ]:
df.loc[40:43,["Restaurant_latitude","Restaurant_longitude","Delivery_location_latitude","Delivery_location_longitude"]]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493
43,21.149569,72.772697,21.239569,72.862697

In [ ]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"], format="%D-%m-%y")

tab1 = df.loc[0:51, "Order_Date"].min()

tab1_formatada = tab1.strftime("%d-%m-%y")

print("menor valor:",tab1_formatada)

menor valor: 11-02-22

In [ ]:
tab1 = df.loc[0:51,"Time_Orderd"]

print("A menor hora é:",min(tab1))

A menor hora é: 08:15:00

In [ ]:
df.loc[50:70,"City"].unique()

array(['Metropolitian ', 'Urban ', 'Semi-Urban ', 'NaN '], dtype=object)

In [ ]:
df.loc[50:70,"Weatherconditions"].unique()

array(['conditions Fog', 'conditions Stormy', 'conditions Cloudy',
       'conditions Sandstorms', 'conditions Sunny', 'conditions Windy'],
      dtype=object)

In [ ]:
df.loc[0:10,"Road_traffic_density"].unique()

array(['High ', 'Jam ', 'Low ', 'Medium '], dtype=object)

In [ ]:
df_filtro = df.loc[50:70]

old = df_filtro["Delivery_person_Age"].max()

oldID = df_filtro.loc[df_filtro["Delivery_person_Age"]== old,"ID"]

print('Maior idade: ',old, 'pelo ID: ',oldID)

Maior idade:  39 pelo ID:  56    0xddc5
57    0x8e6c
66    0xde72
69    0xa258
Name: ID, dtype: object

In [ ]:
df_filtro.loc[50:70]

df_ava = df_filtro["Delivery_person_Ratings"].max()

ID = df_filtro.loc[df_filtro["Delivery_person_Ratings"]== df_ava,"ID"]

print("O ID de usuario com a maior avaliação é:",ID,"com o rating em:", df_ava)

O ID de usuario com a maior avaliação é: 52    0xc1ff
63    0xbe80
Name: ID, dtype: object com o rating em: 5

In [14]:
df.loc[0:30,"Type_of_vehicle"]

0           motorcycle
1              scooter
2           motorcycle
3           motorcycle
4              scooter
5           motorcycle
6              scooter
7           motorcycle
8           motorcycle
9           motorcycle
10          motorcycle
11             scooter
12          motorcycle
13             scooter
14    electric_scooter
15             scooter
16          motorcycle
17          motorcycle
18          motorcycle
19          motorcycle
20    electric_scooter
21          motorcycle
22             scooter
23          motorcycle
24    electric_scooter
25          motorcycle
26             scooter
27          motorcycle
28    electric_scooter
29          motorcycle
30          motorcycle
Name: Type_of_vehicle, dtype: object

In [17]:
df.loc[100:120,"Type_of_order"].unique()

array(['Snack ', 'Meal ', 'Buffet ', 'Drinks '], dtype=object)